body {
  margin: 0;
  background-color: white;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

h1 {
  color: #502050;
  font-weight: 700;
}

p {
  color: #937b92;
  font-weight: 400;
}

.wrap {
  position: relative;
  padding: 100px;
  background-image: url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: left -100px top -10px, right -100px bottom 0;
}

.top-container {
  position: relative;
  text-align: center;
}

.heading {
  display: inline-block;
  position: relative;
  margin: 0 100px 30px 100px;
  width: 25%;
  text-align: left;
}

.stars-txt {
  color: #502050;
  font-weight: 700;
  font-size: 0.7rem;
  display: inline-block;
  margin-left: 30px;
}

.star-container {
  display: inline-block;
  position: relative;
  margin: 0 100px 30px 100px;
  right: auto;
  width: 30%;
  color: #502050;
  font-weight: 500;
}

.star-reviews {
  position: relative;
  right: 5rem;
  bottom: 2rem;
  background-color: #f7f2f7;
  margin: 1rem auto;
  border-radius: 10px;
  padding: 0.7rem 0 1rem 0;
  width: 350px;
  height: 30px;
  line-height: 2;
  text-align: center;
}

.star-report {
  position: relative;
  right: 1rem;
  bottom: 2rem;
  background-color: #f7f2f7;
  margin: 0.7rem auto;
  padding: 0.7rem 0 1rem 0;
  text-align: center;
  border-radius: 10px;
  width: 350px;
  height: 30px;
}

.star-tech {
  background-color: #f7f2f7;
  position: relative;
  left: 3rem;
  bottom: 1.7rem;
  margin: 0.7rem auto;
  padding: 0.7rem 0 1rem 0;
  text-align: center;
  border-radius: 10px;
  width: 350px;
  height: 30px;
}

.bottom-container {
  display: block;
  position: relative;
  margin: 0 50px 100px 150px;
}

.user {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 180px;
  font-size: 0.7rem;
  background-color: #502050;
  margin: 10px;
  border-radius: 10px;
}

.profile-img {
  margin: 30px 20px 20px 30px;
  float: left;
  border-radius: 50%;
  width: 10%;
}

.name {
  color: white;
  font-weight: 700;
  margin: 30px 30px 5px 20px;
}

.status {
  color: #ee68a4;
  font-weight: 400;
  margin: 0 20px;
}

.message {
  margin: 20px 30px 30px 30px;
  clear: left;
}

.irene {
  position: relative;
  top: 15px;
}

.anne {
  position: relative;
  top: 30px;
}
